@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600&display=swap');

/*
    General impaginations rules
*/

body{
    font-family: 'Titillium Web', sans-serif;
}

._container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

._sticky_top{
    position: sticky; 
    top: 1em; 
    width: 100%;
    border: 3px solid black;
}

._footer{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    gap: 20em; 
    background-color: rgb(240, 240, 240); 
    padding: 2em;
    position: fixed; bottom: 0; 
    width: 100%;
}