@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600&display=swap');

/*
    General impaginations rules
*/

body{
    font-family: 'Titillium Web', sans-serif;
}

._container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}